---
import Link from "./ui/link.astro";
---

<div
  class="bg-brand-navy p-8 md:px-20 md:py-20 mt-20 flex flex-col items-center text-center">
  <h2 class="text-content-inverse text-4xl md:text-6xl tracking-tight">
    Ready to take control of your finances?
  </h2>
  <p class="text-content-inverse/70 mt-4 text-lg md:text-xl">
    Let's build a financial engine that's ready for your growth.
  </p>
  <div class="flex mt-5">
    <Link href="/contact" style="primary">Book Your Financial Operations Review</Link>
  </div>
</div>
